.sigma_search_results {
	padding-top:20px;
	position:relative;
	border:1px solid #777;
	background: #eee;
	z-index: 1000;
	top:30px;
}

.sigma_search_x_button {
	position:absolute;
	right:0;
	top:0;
}

.sigma_search {
	position:relative;
	z-index: 100;
}
